/*
 * --------------------------------------------------------------------
 *  Nextflow base config file
 * --------------------------------------------------------------------
 */


process {


    // Process-specific resource requirements
    cpus = { 1 * task.attempt }
    memory = { 20.GB * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    
    withName: CUTADAPT {
        cpus = 8
        memory = { 8.GB * task.attempt }
        disk = 45.GB
    }
    withName: SICKLE {
        memory = { 8.GB * task.attempt }
    }
    withLabel: FASTQC {
        cpus = 8
        memory = { 8.GB * task.attempt }
    }
    withName: MULTIQC {
        memory = { 8.GB * task.attempt }
    }
    withName: HOST_FILTER {
        memory = { 40.GB * task.attempt }
        time = '48h'
        cpus = 8
        disk = 200.GB
    }
    withName: INDEX_KAIJU {
        memory = { 200.GB * task.attempt }
        cpus = 6
    }
    withLabel: KAIJU {
        memory = { 160.GB * task.attempt }
        cpus = 10
    }
    withName: GET_SOFTWARE_VERSIONS {
        memory = { 1.GB * task.attempt }
    }
    withName: INDEX_HOST {
        memory = { 100.GB * task.attempt }
        cpus = 6
    }
withName: METASPADES{
   memory = { 1000.GB * task.attempt }
   cpus = 10
   time = '48h'
  }

withName: READS_DEDUPLICATION{
   memory = { 800.GB * task.attempt }
   cpus = 10
   time = '48h'
  }
withName: GTDBTK{
   memory = { 500.GB * task.attempt }
   cpus = 8
   time = '24h'
  }

withLabel: QUAST{
   memory = { 700.GB * task.attempt }
   cpus = 8
   time = '24h'
  }


withName: BWA_MEM{
   memory = { 100.GB * task.attempt }
   cpus = 8
   time = '24h'
  }

/* SPECIFIED IN nextflow.config
 * withLabel: BINNING{
 *   memory = { 500.GB * task.attempt }
 *   cpus = 8
 *   time = '24h'
 *  }
 */

withName: TRNASCAN_SE{
   memory = { 300.GB * task.attempt }
   cpus = 40
  }

withName: DIAMOND{
   memory = { 800.GB * task.attempt }
   cpus = 40
  }

withLabel: EGGNOG{
   memory = { 500.GB * task.attempt }
   cpus = 24
  }

withName: BINETTE{
   memory = { 500.GB * task.attempt }
   cpus = 10
  }

withLabel: ASSEMBLY_FILTER{
   memory = { 800.GB * task.attempt }
   cpus = 8
   time = '24h'
  }



}
