process {

    withName: 'DEEPVARIANT' {
        ext.args   = { params.wes ?  "--model_type WES" : "--model_type WGS" }
        ext.prefix = { meta.num_intervals <= 1 ? "${meta.id}.deepvariant" : "${meta.id}.deepvariant.${intervals.simpleName}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}",
//            saveAs: { meta.num_intervals > 1 ? null : "deepvariant/${meta.id}/${it}" }
        ]
    }

    withName: 'MERGE_DEEPVARIANT_VCF' {
        memory = 10.GB
        cpus = 2
        ext.prefix = { "${meta.id}.deepvariant" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/deepvariant/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'MERGE_DEEPVARIANT_GVCF' {
        memory = 10.GB
        cpus = 2
        ext.prefix = { "${meta.id}.deepvariant.g" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/deepvariant/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

}
