

singularity.enabled=true

profiles {

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        //runOptions = '-B /tmp/:/scratch/'
        singularity.runOptions = '-B $SINGULARITY_TMPDIR:/scratch'
        singularity.envWhitelist = ['SINGULARITY_TMPDIR']
        //envWhitelist = ['TMPDIR','SINGULARITY_TMPDIR','SINGULARITY_CACHEDIR','NXF_SINGULARITY_TMPDIR','SINGULARITY_TMPDIR']

    }

    cluster {
      executor {
        name = "slurm"
        queue = 'general'
      }
      process {
        singularity.enabled=true
     }
   }
}

process {
                beforeScript = 'module load singularity'
                withName: DEEPVARIANT {
                    container = '/sc/kzd/shared/rw/singularity/cache/quay.io-nf-core-deepvariant-1.5.0.img'
                 }
           }




params {
  no_intervals           = false      // Intervals will be built from the fasta file
  nucleotides_per_second = 200000     // Default interval size
  save_mapped        = true
  save_bam_mapped = true
  wes          = false // Set to true, if data is exome/targeted sequencing data. Used to use correct models in various variant callers
  reads = false
  singleEnd = false
  outdir = 'results'
  multiqcOutputFolder  = 'output_multiQC'
}

includeConfig 'base.config'
includeConfig 'additional.config'

includeConfig 'deepvariant.config'
includeConfig 'prepare_intervals.config'





def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

docker.registry      = 'quay.io'

