

// PREPARE INTERVALS

process {

    withName: 'CREATE_INTERVALS_BED' {
      cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/intervals" },
            pattern: "*bed",
            saveAs: { params.save_reference || params.build_only_index ? it : null }
        ]
    }

    withName: 'GATK4_INTERVALLISTTOBED' {
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/intervals" },
            pattern: "*bed",
            saveAs: { params.save_reference || params.build_only_index ? it : null }
        ]
    }

    withName: 'TABIX_BGZIPTABIX_INTERVAL_SPLIT' {
      cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
        ext.prefix       = {"${meta.id}"}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/intervals" },
            pattern: "*bed.gz",
            saveAs: { params.save_reference || params.build_only_index ? it : null }
        ]
    }
}
