/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params {
    adapter1 = "AGATCGGAAGAGC"
    adapter2 = "AGATCGGAAGAGC"
    quality_type = "sanger"
    host_index = ""
    host_fasta = ""
    assembly = "" // short read: metaspades or megahit || HiFi reads : hifiasm-meta or metaflye
    min_contigs_cpm = 1
    diamond_bank = ""
    gtdbtk_bank = ""
    checkm2_bank = ""
    percentage_identity = 0.95
    type = ""
    coassembly = false

    // Stop after step or skip optional step/sub-step.

    // Optional step
    stop_at_clean = false
    skip_clean = false

    // Sub-steps of clean
    use_sickle = false
    skip_host_filter = false
    skip_kaiju = false

    // Step
    stop_at_assembly = false

    // Optional step
    stop_at_filtering = false
    skip_filtering = false

    // Step
    stop_at_structural_annot = false

    // Optional step
    skip_alignment = false

    // Optional step
    skip_func_annot = false

    // Optional step
    skip_taxo_affi = false

    // Optional step
    skip_binning = false
    binning_cross_alignment = 'individual'
    drep_threshold = 0.95
    min_completeness = 50
    max_contamination = 10
    metabat2_seed = 0

    // Ressources.
    kaiju_db_dir = false
    kaiju_db_url = "https://kaiju.binf.ku.dk/database/kaiju_db_refseq_2021-02-26.tgz"
    eggnog_mapper_db_dir = ""
    eggnog_mapper_db_download = true
    // Others parameters.
    outdir = "results"
    databases = "databases"
    accession2taxid = "http://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/prot.accession2taxid.FULL.gz"
    taxdump = "http://ftp.ncbi.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
    taxonomy_dir = false
    multiqc_config = "$baseDir/assets/multiqc_config.yaml"

    help = false

}

// Load base.config by default for all pipelines.
 includeConfig 'conf/base.config'

// Define profiles.
profiles {
    local { process.executor = 'local'} // local
    slurm {
      process {
        executor = "slurm"
        queue = 'general'
      } //process
    } //slurm
   singularity{
          singularity.enabled = true
          singularity.autoMounts = true
          conda.enabled          = false
          docker.enabled         = false
          podman.enabled         = false
          shifter.enabled        = false
          charliecloud.enabled   = false
          apptainer.enabled      = false
          singularity.runOptions = '-B $SINGULARITY_TMPDIR:/scratch'
          singularity.envWhitelist = ['SINGULARITY_TMPDIR']
process{
   container = "/sc/kzd/proj/SysGen/SysGenPipelines/MetaGenomics/Pipeline_Coassembly_Binning/metagwgs_b.sif"
    withLabel: BINNING {
        container = "/sc/kzd/proj/SysGen/SysGenPipelines/MetaGenomics/Pipeline_Coassembly_Binning/binning_v2.4.3.sif"
   memory = { 500.GB * task.attempt }
   cpus = 24
    }

   } // singularity
}
}


